@import "tailwindcss";
@config "../../tailwind.config.mjs";
@source "../../src";

@theme {
  --color-dark: #0f172a;
  --color-card: #1e293b;
  --color-primary: #10b981;

  --font-sans: var(--font-inter), sans-serif;
  --font-mono: var(--font-jetbrains-mono), monospace;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 15, 23, 42;
  /* dark color */
  --background-end-rgb: 15, 23, 42;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .cursor-blink {
    display: inline-block;
    width: 3px;
    background-color: #10b981;
    animation: blink 1s infinite;
  }

  @keyframes blink {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }

  @keyframes shine {
    0% {
      background-position: 100%;
    }

    100% {
      background-position: -100%;
    }
  }

  .animate-shine {
    animation: shine 2s linear infinite;
  }

  @keyframes grid-scroll {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 40px 40px;
    }
  }

  .bg-grid-pattern {
    background-size: 40px 40px;
    background-image:
      linear-gradient(to right, rgba(16, 185, 129, 0.2) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(16, 185, 129, 0.2) 1px, transparent 1px);
  }

  .animate-grid-scroll {
    animation: grid-scroll 3s linear infinite;
  }
}